
  <div id="mobile-menu" class="mobile-menu" [class.open]="isOpen()">
    <button
      type="button"
      (click)="onClose()"
      class="absolute top-5 right-5 btn-glass p-2 rounded-full"
      aria-label="Close mobile menu"
    >

      <app-close-icon/>
    </button>

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      (click)="onClose()"
    >
      Home
    </a>

    <a
      [routerLink]="UrlBuilder.route('products')"
      routerLinkActive="active"
      class="nav-link"
      (click)="onClose()"
    >
      Products
    </a>

    <a
      [routerLink]="UrlBuilder.route('recipes')"
      routerLinkActive="active"
      class="nav-link"
      (click)="onClose()"
    >
      Recipes
    </a>

    <a
      [routerLink]="UrlBuilder.route('posts')"
      routerLinkActive="active"
      class="nav-link"
      (click)="onClose()"
    >
      Posts
    </a>

    <button
      type="button"
      (click)="onLogout()"
      class="btn-glass py-3 rounded-xl mt-6 text-center w-full"
    >
      Logout
    </button>
  </div>


